body{
  background: rgb(244,244,244);
  background: linear-gradient(135deg, rgba(244,244,244,1) 0%, rgba(197,98,207,1) 54%, rgba(77,0,92,1) 100%);
  background-attachment: fixed;
  margin: 0;
}
form {
  width: 400px;
  margin: 10vh auto 0 auto;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 30px;
  font-family: sans-serif;
}
h1{
  text-align: center;
  color: purple;
}
form button{
  background-color: purple;
  color: white;
  border: 1px solid purple;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0px;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
}
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.input-group input {
  border-radius: 5px;
  font-size: 15px;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid lightskyblue;
}
.input-group input:focus{
  outline: 0;
}
.error {
  color: red;
  font-size: 10px;
  margin-top: 5px;
}
.input-group.succes input {
  border-color: green;
}
.input-group.error input {
  border-color: red;
}